<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
    
    <%- include('components/header', { title: 'Profile - DevLink', user: { ...user, _json: user._json || {} } }) %>
    <div class="container-fluid">
        <div class="row">
            <div class="col"><h1><%= user.username %></h1></div>
        </div>
        <div class="text-center">
            <img src="<%= user._json ? user._json.avatar_url : user.avatar_url %>" 
                 class="rounded-circle pfp">
        </div>
        <br>
        <div class="row">
            <p><strong>Github Bio:</strong> <%= user.bio %></p>
        </div>
        <div class="row"></div>
    </div> 
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p><strong>Username:</strong> <%= user.username %></p>
                <p><strong>Age:</strong> <%= personalInfo.age || 'N/A' %></p>
                <p><strong>Gender:</strong> <%= personalInfo.gender || 'N/A' %></p>
                <p><strong>Likes:</strong> <%= personalInfo.likes || 'N/A' %></p>
                <p><strong>Skills:</strong> <%= personalInfo.skills || 'N/A' %></p>
                <p><strong>Location:</strong> <%= personalInfo.location || 'N/A' %></p>
                <p><strong>Looking for:</strong> <%= personalInfo.looking_for || 'N/A' %></p>
            </div>
        </div>
    </div>  
</body>
</html>